<!DOCTYPE html>
<html>
<%- include('partial/head.ejs'); -%>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<body>
<header>
    <h1>Welcome <%= name %>!</h1>
    <p>Please select your flair for /r/<%= subreddit %></p>
</header>
<div id="container">
    <div class="selected-flairs">
        <span class="selected-flair-item">
            <h1>Flair One</h1>
            <div id="first-flair"></div>
            <a class="clear-link">Clear</a>
        </span>
        <span class="selected-flair-item">
            <h1>Flair Two</h1>
            <div id="second-flair"></div>
            <a class="clear-link">Clear</a>
        </span>
    </div>
    <span>
        <input class="balloon" id="filter" type="text" placeholder="Type to filter"/>
        <label for="filter">Filter</label>
    </span>
    <section id="flair-container">
        <div id="flair-list"></div>
    </section>
    <div class="buttons">
        <button id="save" disabled>Save</button>
        <button id="deleteFlair">Delete Existing Flair</button>
    </div>
</div>
<%- include('partial/footer.ejs'); -%>
</body>
</html>
