<!DOCTYPE html>
<html>
<% include partial/head.ejs %>
<body>
<div id="container">
    <h1>/r/churning Flair Selector</h1>
    <div><a href="<%= redirect_url %>">Allow Access</a></div>
</div>
</body>
</html>