<!DOCTYPE html>
<html>
<% include partial/head.ejs %>
<body>
<header>
    <h1>/r/<%= subreddit %> Flair Selector</h1>
</header>
<div id="container">
    <div id="start-button" onclick="location.href='<%= redirect_url %>'">
        <a class="button-link" href="<%= redirect_url %>">Allow Access</a></div>
</div>
</body>
</html>