<footer class="footer">Created by <a href="https://reddit.com/u/jonluca">u/JonLuca</a> for
    <a href="https://reddit.com/r/churning">/r/churning</a>
    - <a href="https://github.com/jonluca/Churning-Flair-Selector-Site">Source Code</a>
</footer>